.single {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 10em auto;
  flex-direction: column;
  padding: 0 15px;
}

.single h1 {
  font-family: "Urbanist", sans-serif;
  margin: 0;
}

.single p {
  text-align: center;
  margin: 30px 0 50px 0;
}

.single .acf-fields p {
  text-align: center;
  margin: 10px 0;
}

.single .acf-fields {
  margin: 50px 0 70px 0;
}

.single .excerpt {
  margin: 0;
}

.single .wp-block-gallery {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.single img {
  width: 100%;
  height: auto;
  /* max-height: 350px; */
  object-fit: cover;
}

.single figure {
  width: 49%;
  margin: 0;
}

.acf-fields p {
  text-transform: capitalize;
}
/* .single figure figure {
  width: 49%;
} */

@media only screen and (max-width: 450px) {
  .single {
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    margin: 10em 0;

    padding: 0 15px;
  }

  .single figure {
    width: 100%;
  }

  .main-menu {
    width: calc(100% - 10px);
  }
}
